* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.container {
  background-color: #f4faff;
  padding: 20px;
  font-family: roboto;
}
.ul-list-container {
  display: flex;
  flex-wrap: wrap;
}
.main-heading {
  text-align: center;
}
.main-para {
  text-align: center;
}
